.elementor-692 .elementor-element.elementor-element-49d0704>.elementor-container.elementor-container {
    max-width: 1270px;
}

.elementor-692 .elementor-element.elementor-element-49d0704>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-692 .elementor-element.elementor-element-49d0704 {
    padding: 63px 0px 357px 0px;
}

.elementor-692 .elementor-element.elementor-element-5cef5e4 {
    text-align: center;
    z-index: 0;
    width: auto;
    max-width: auto;
    top: -75px;
}

.elementor-692 .elementor-element.elementor-element-5cef5e4 .icon {
    color: #F5F5F5;
}

.elementor-692 .elementor-element.elementor-element-5cef5e4 .icon .stop-a {
    stop-color: #F5F5F5;
}

.elementor-692 .elementor-element.elementor-element-5cef5e4 .icon .stop-b {
    stop-color: #F5F5F5;
}

.elementor-692 .elementor-element.elementor-element-5cef5e4 .unicamp-icon,
.elementor-692 .elementor-element.elementor-element-5cef5e4 .unicamp-icon-view {
    font-size: 288px;
}

body:not(.rtl) .elementor-692 .elementor-element.elementor-element-5cef5e4 {
    left: -150px;
}

body.rtl .elementor-692 .elementor-element.elementor-element-5cef5e4 {
    right: -150px;
}

.elementor-692 .elementor-element.elementor-element-d8f8702 .heading-primary {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 3px;
    color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-d8f8702 .heading-primary .stop-a {
    stop-color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-d8f8702 .heading-primary .stop-b {
    stop-color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-d8f8702>.elementor-widget-container {
    margin: 0px 0px 31px 0px;
}

.elementor-692 .elementor-element.elementor-element-c7ec23f .tm-modern-heading {
    width: 470px;
}

.elementor-692 .elementor-element.elementor-element-c7ec23f .heading-primary {
    font-size: 30px;
    line-height: 1.47em;
}

.elementor-692 .elementor-element.elementor-element-bcf6ad2 .heading-primary {
    font-size: 16px;
    line-height: 30px;
}

.elementor-692 .elementor-element.elementor-element-bcf6ad2>.elementor-widget-container {
    margin: 0px 0px 21px 0px;
}

.elementor-692 .elementor-element.elementor-element-9800cca .heading-primary {
    font-size: 16px;
    line-height: 30px;
}

.elementor-692 .elementor-element.elementor-element-8d6bcec>.elementor-container.elementor-container {
    max-width: 1270px;
}

.elementor-692 .elementor-element.elementor-element-8d6bcec>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-692 .elementor-element.elementor-element-8d6bcec:not(.elementor-motion-effects-element-type-background),
.elementor-692 .elementor-element.elementor-element-8d6bcec>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F5F5F5;
    background-image: url("https://unicamp.thememove.com/main/wp-content/uploads/sites/2/2021/02/decorate-bg-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.elementor-692 .elementor-element.elementor-element-8d6bcec {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-692 .elementor-element.elementor-element-8d6bcec>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-692 .elementor-element.elementor-element-8c8aa0c .video-poster {
    height: 520px;
}

.elementor-692 .elementor-element.elementor-element-8c8aa0c .video-button {
    justify-content: center;
    align-items: center;
}

.elementor-692 .elementor-element.elementor-element-8c8aa0c>.elementor-widget-container {
    margin: -234px 0px 80px 0px;
}

.elementor-692 .elementor-element.elementor-element-2e3c1d8>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-692 .elementor-element.elementor-element-19c191c {
    z-index: 1;
}

.elementor-692 .elementor-element.elementor-element-3a07401 img {
    width: 100%;
}

.elementor-692 .elementor-element.elementor-element-3a07401>.elementor-widget-container {
    margin: 50px -200px 0px 0px;
}

.elementor-692 .elementor-element.elementor-element-3a07401 {
    z-index: 1;
}

.elementor-692 .elementor-element.elementor-element-a2d5f5c .shape {
    width: 100px;
    height: 2px;
    transform: rotate(0deg) scale(1, 1);
}

.elementor-692 .elementor-element.elementor-element-a2d5f5c .unicamp-shape {
    transform: translate(0px, 0px);
}

.elementor-692 .elementor-element.elementor-element-a2d5f5c {
    z-index: 1;
    width: auto;
    max-width: auto;
    top: 95px;
}

body:not(.rtl) .elementor-692 .elementor-element.elementor-element-a2d5f5c {
    right: -250px;
}

body.rtl .elementor-692 .elementor-element.elementor-element-a2d5f5c {
    left: -250px;
}

.elementor-692 .elementor-element.elementor-element-bd74d76 .icon-box-wrapper {
    text-align: start;
}

.elementor-692 .elementor-element.elementor-element-bd74d76 .tm-icon-box {
    padding: 64px 70px 72px 270px;
    background-color: #FFFFFF;
}

.elementor-692 .elementor-element.elementor-element-bd74d76 .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-692 .elementor-element.elementor-element-bd74d76 .heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3em;
}

.elementor-692 .elementor-element.elementor-element-bd74d76 .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.elementor-692 .elementor-element.elementor-element-bd74d76 .tm-button {
    width: 214px;
}

.elementor-692 .elementor-element.elementor-element-3b4e2e0 .elementor-spacer-inner {
    height: 70px;
}

.elementor-692 .elementor-element.elementor-element-fb45967>.elementor-container.elementor-container {
    max-width: 1270px;
}

.elementor-692 .elementor-element.elementor-element-fb45967>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-692 .elementor-element.elementor-element-fb45967 {
    padding: 88px 0px 0px 0px;
}

.elementor-692 .elementor-element.elementor-element-a9fe004>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-692 .elementor-element.elementor-element-a9fe004>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-692 .elementor-element.elementor-element-7605803 .heading-primary {
    font-size: 40px;
}

.elementor-692 .elementor-element.elementor-element-7605803 .heading-divider {
    margin-top: 12px;
}

.elementor-692 .elementor-element.elementor-element-7605803>.elementor-widget-container {
    margin: 0px 0px 26px 0px;
}

.elementor-692 .elementor-element.elementor-element-28b3fb8 .heading-primary {
    font-size: 16px;
    line-height: 30px;
}

.elementor-692 .elementor-element.elementor-element-28b3fb8 .heading-primary mark {
    font-weight: 500;
    color: var( --e-global-color-secondary);
}

.elementor-692 .elementor-element.elementor-element-28b3fb8 .heading-primary mark .stop-a {
    stop-color: var( --e-global-color-secondary);
}

.elementor-692 .elementor-element.elementor-element-28b3fb8 .heading-primary mark .stop-b {
    stop-color: var( --e-global-color-secondary);
}

.elementor-692 .elementor-element.elementor-element-28b3fb8>.elementor-widget-container {
    margin: 0px 0px 21px 0px;
}

.elementor-692 .elementor-element.elementor-element-9641afe .heading-primary {
    font-size: 16px;
    line-height: 30px;
}

.elementor-692 .elementor-element.elementor-element-9641afe>.elementor-widget-container {
    margin: 0px 0px 21px 0px;
}

.elementor-692 .elementor-element.elementor-element-670969c>.elementor-widget-container {
    margin: 19px 0px 0px 0px;
}

.elementor-692 .elementor-element.elementor-element-0bc69d9 {
    text-align: center;
}

.elementor-692 .elementor-element.elementor-element-0bc69d9 .unicamp-icon,
.elementor-692 .elementor-element.elementor-element-0bc69d9 .unicamp-icon-view {
    font-size: 370px;
}

.elementor-692 .elementor-element.elementor-element-bb6a792 .elementor-spacer-inner {
    height: 100px;
}

.elementor-692 .elementor-element.elementor-element-e83330d>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-692 .elementor-element.elementor-element-e83330d>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-692 .elementor-element.elementor-element-c445ee4 {
    text-align: center;
}

.elementor-692 .elementor-element.elementor-element-c445ee4 .unicamp-icon,
.elementor-692 .elementor-element.elementor-element-c445ee4 .unicamp-icon-view {
    font-size: 370px;
}

.elementor-692 .elementor-element.elementor-element-2135870 .heading-primary {
    font-size: 40px;
}

.elementor-692 .elementor-element.elementor-element-2135870 .heading-divider {
    margin-top: 12px;
}

.elementor-692 .elementor-element.elementor-element-2135870>.elementor-widget-container {
    margin: 0px 0px 26px 0px;
}

.elementor-692 .elementor-element.elementor-element-b859a5a .heading-primary {
    font-size: 16px;
    line-height: 30px;
}

.elementor-692 .elementor-element.elementor-element-b859a5a .heading-primary mark {
    font-weight: 500;
    color: var( --e-global-color-secondary);
}

.elementor-692 .elementor-element.elementor-element-b859a5a .heading-primary mark .stop-a {
    stop-color: var( --e-global-color-secondary);
}

.elementor-692 .elementor-element.elementor-element-b859a5a .heading-primary mark .stop-b {
    stop-color: var( --e-global-color-secondary);
}

.elementor-692 .elementor-element.elementor-element-b859a5a>.elementor-widget-container {
    margin: 0px 0px 21px 0px;
}

.elementor-692 .elementor-element.elementor-element-321ce55 .heading-primary {
    font-size: 16px;
    line-height: 30px;
}

.elementor-692 .elementor-element.elementor-element-321ce55>.elementor-widget-container {
    margin: 0px 0px 21px 0px;
}

.elementor-692 .elementor-element.elementor-element-feae52e>.elementor-widget-container {
    margin: 19px 0px 0px 0px;
}

.elementor-692 .elementor-element.elementor-element-064e6c5 .elementor-spacer-inner {
    height: 100px;
}

.elementor-692 .elementor-element.elementor-element-946657e>.elementor-container.elementor-container {
    max-width: 1270px;
}

.elementor-692 .elementor-element.elementor-element-946657e>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-692 .elementor-element.elementor-element-946657e>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-692 .elementor-element.elementor-element-946657e:not(.elementor-motion-effects-element-type-background),
.elementor-692 .elementor-element.elementor-element-946657e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
    background-image: url("https://raw.githubusercontent.com/u6016901/u6016901.github.io/main/pictures/CxEy5ZBUUAQeK9z.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-692 .elementor-element.elementor-element-946657e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 101px 0px 76px 0px;
}

.elementor-692 .elementor-element.elementor-element-946657e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-692 .elementor-element.elementor-element-c7f6dd8 .heading-primary {
    font-size: 64px;
    color: #FFFFFF;
}

.elementor-692 .elementor-element.elementor-element-c7f6dd8 .heading-primary .stop-a {
    stop-color: #FFFFFF;
}

.elementor-692 .elementor-element.elementor-element-c7f6dd8 .heading-primary .stop-b {
    stop-color: #FFFFFF;
}

.elementor-692 .elementor-element.elementor-element-c7f6dd8 .heading-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8em;
    color: #FFFFFF;
}

.elementor-692 .elementor-element.elementor-element-c7f6dd8 .heading-description .stop-a {
    stop-color: #FFFFFF;
}

.elementor-692 .elementor-element.elementor-element-c7f6dd8 .heading-description .stop-b {
    stop-color: #FFFFFF;
}

.elementor-692 .elementor-element.elementor-element-c7f6dd8 .heading-description-wrap {
    margin-top: 11px;
}

.elementor-692 .elementor-element.elementor-element-c7f6dd8>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-692 .elementor-element.elementor-element-5ce7a14 .tm-button {
    min-height: 52px;
    width: 370px;
    font-size: 15px;
}

.elementor-692 .elementor-element.elementor-element-5ce7a14 .tm-button:after {
    background-color: #FFFFFF;
}

.elementor-692 .elementor-element.elementor-element-5ce7a14 .tm-button:hover .button-content-wrapper {
    color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-5ce7a14 .tm-button:hover .button-content-wrapper .stop-a {
    stop-color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-5ce7a14 .tm-button:hover .button-content-wrapper .stop-b {
    stop-color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-5ce7a14>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-692 .elementor-element.elementor-element-0a56854 .tm-button {
    width: 370px;
    font-size: 15px;
}

.elementor-692 .elementor-element.elementor-element-0a56854 .tm-button:after {
    background-color: #FFFFFF;
}

.elementor-692 .elementor-element.elementor-element-0a56854 .tm-button:hover .button-content-wrapper {
    color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-0a56854 .tm-button:hover .button-content-wrapper .stop-a {
    stop-color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-0a56854 .tm-button:hover .button-content-wrapper .stop-b {
    stop-color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-0a56854>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-692 .elementor-element.elementor-element-658cd53 .tm-button {
    width: 370px;
    font-size: 15px;
}

.elementor-692 .elementor-element.elementor-element-658cd53 .tm-button:after {
    background-color: #FFFFFF;
}

.elementor-692 .elementor-element.elementor-element-658cd53 .tm-button:hover .button-content-wrapper {
    color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-658cd53 .tm-button:hover .button-content-wrapper .stop-a {
    stop-color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-658cd53 .tm-button:hover .button-content-wrapper .stop-b {
    stop-color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-658cd53>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-692 .elementor-element.elementor-element-6c6d2ea .tm-button {
    width: 370px;
    font-size: 15px;
}

.elementor-692 .elementor-element.elementor-element-6c6d2ea .tm-button:after {
    background-color: #FFFFFF;
}

.elementor-692 .elementor-element.elementor-element-6c6d2ea .tm-button:hover .button-content-wrapper {
    color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-6c6d2ea .tm-button:hover .button-content-wrapper .stop-a {
    stop-color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-6c6d2ea .tm-button:hover .button-content-wrapper .stop-b {
    stop-color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-6c6d2ea>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-692 .elementor-element.elementor-element-339e829 .tm-button {
    width: 370px;
    font-size: 15px;
}

.elementor-692 .elementor-element.elementor-element-339e829 .tm-button:after {
    background-color: #FFFFFF;
}

.elementor-692 .elementor-element.elementor-element-339e829 .tm-button:hover .button-content-wrapper {
    color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-339e829 .tm-button:hover .button-content-wrapper .stop-a {
    stop-color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-339e829 .tm-button:hover .button-content-wrapper .stop-b {
    stop-color: var( --e-global-color-primary);
}

.elementor-692 .elementor-element.elementor-element-339e829>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

@media(max-width:1024px) {
    .elementor-692 .elementor-element.elementor-element-49d0704 {
        padding: 60px 0px 130px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-c7ec23f .heading-primary {
        font-size: 25px;
    }
    .elementor-692 .elementor-element.elementor-element-8c8aa0c .video-poster {
        height: 400px;
    }
    .elementor-692 .elementor-element.elementor-element-8c8aa0c>.elementor-widget-container {
        margin: -80px 0px 50px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-3a07401>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-bd74d76 .tm-icon-box {
        padding: 40px 30px 40px 30px;
    }
    .elementor-692 .elementor-element.elementor-element-bd74d76 .heading {
        font-size: 34px;
    }
    .elementor-692 .elementor-element.elementor-element-fb45967 {
        padding: 70px 0px 0px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-7605803 .heading-primary {
        font-size: 34px;
    }
    .elementor-692 .elementor-element.elementor-element-7605803>.elementor-widget-container {
        margin: 0px 0px 45px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-0bc69d9 .unicamp-icon,
    .elementor-692 .elementor-element.elementor-element-0bc69d9 .unicamp-icon-view {
        font-size: 270px;
    }
    .elementor-692 .elementor-element.elementor-element-bb6a792 .elementor-spacer-inner {
        height: 70px;
    }
    .elementor-692 .elementor-element.elementor-element-c445ee4 .unicamp-icon,
    .elementor-692 .elementor-element.elementor-element-c445ee4 .unicamp-icon-view {
        font-size: 270px;
    }
    .elementor-692 .elementor-element.elementor-element-2135870 .heading-primary {
        font-size: 34px;
    }
    .elementor-692 .elementor-element.elementor-element-2135870>.elementor-widget-container {
        margin: 0px 0px 45px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-064e6c5 .elementor-spacer-inner {
        height: 80px;
    }
    .elementor-692 .elementor-element.elementor-element-946657e {
        padding: 80px 0px 60px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-c7f6dd8 .heading-primary {
        font-size: 50px;
    }
    .elementor-692 .elementor-element.elementor-element-c7f6dd8 .heading-description {
        font-size: 18px;
    }
    .elementor-692 .elementor-element.elementor-element-5ce7a14>.elementor-widget-container {
        margin: 0px 0px 20px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-0a56854>.elementor-widget-container {
        margin: 0px 0px 20px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-658cd53>.elementor-widget-container {
        margin: 0px 0px 20px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-6c6d2ea>.elementor-widget-container {
        margin: 0px 0px 20px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-339e829>.elementor-widget-container {
        margin: 0px 0px 20px 0px;
    }
}

@media(max-width:767px) {
    .elementor-692 .elementor-element.elementor-element-49d0704 {
        padding: 30px 0px 70px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-5cef5e4 .unicamp-icon,
    .elementor-692 .elementor-element.elementor-element-5cef5e4 .unicamp-icon-view {
        font-size: 150px;
    }
    body:not(.rtl) .elementor-692 .elementor-element.elementor-element-5cef5e4 {
        left: -50px;
    }
    body.rtl .elementor-692 .elementor-element.elementor-element-5cef5e4 {
        right: -50px;
    }
    .elementor-692 .elementor-element.elementor-element-5cef5e4 {
        top: -20px;
    }
    .elementor-692 .elementor-element.elementor-element-d8f8702>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-c7ec23f .heading-primary {
        font-size: 20px;
    }
    .elementor-692 .elementor-element.elementor-element-c7ec23f>.elementor-widget-container {
        margin: 0px 0px 25px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-8c8aa0c .video-poster {
        height: 300px;
    }
    .elementor-692 .elementor-element.elementor-element-8c8aa0c>.elementor-widget-container {
        margin: 80px 0px 40px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-bd74d76 .heading {
        font-size: 28px;
    }
    .elementor-692 .elementor-element.elementor-element-bd74d76 .description {
        font-size: 15px;
        line-height: 28px;
    }
    .elementor-692 .elementor-element.elementor-element-7605803 {
        text-align: center;
    }
    .elementor-692 .elementor-element.elementor-element-7605803 .heading-primary {
        font-size: 28px;
    }
    .elementor-692 .elementor-element.elementor-element-7605803>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-28b3fb8 {
        text-align: center;
    }
    .elementor-692 .elementor-element.elementor-element-9641afe {
        text-align: center;
    }
    .elementor-692 .elementor-element.elementor-element-0bc69d9 .unicamp-icon,
    .elementor-692 .elementor-element.elementor-element-0bc69d9 .unicamp-icon-view {
        font-size: 200px;
    }
    .elementor-692 .elementor-element.elementor-element-0bc69d9>.elementor-widget-container {
        margin: 0px 0px 35px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-c445ee4 .unicamp-icon,
    .elementor-692 .elementor-element.elementor-element-c445ee4 .unicamp-icon-view {
        font-size: 200px;
    }
    .elementor-692 .elementor-element.elementor-element-c445ee4>.elementor-widget-container {
        margin: 0px 0px 35px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-2135870 {
        text-align: center;
    }
    .elementor-692 .elementor-element.elementor-element-2135870 .heading-primary {
        font-size: 28px;
    }
    .elementor-692 .elementor-element.elementor-element-2135870>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-b859a5a {
        text-align: center;
    }
    .elementor-692 .elementor-element.elementor-element-321ce55 {
        text-align: center;
    }
    .elementor-692 .elementor-element.elementor-element-946657e {
        padding: 75px 0px 65px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-c7f6dd8 {
        text-align: center;
    }
    .elementor-692 .elementor-element.elementor-element-c7f6dd8 .heading-primary {
        font-size: 36px;
    }
    .elementor-692 .elementor-element.elementor-element-c7f6dd8 .heading-description {
        font-size: 16px;
    }
    .elementor-692 .elementor-element.elementor-element-5ce7a14 .tm-button {
        min-height: 40px;
        font-size: 14px;
    }
    .elementor-692 .elementor-element.elementor-element-5ce7a14>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-0a56854 .tm-button {
        min-height: 40px;
        font-size: 14px;
    }
    .elementor-692 .elementor-element.elementor-element-0a56854>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-658cd53 .tm-button {
        min-height: 40px;
        font-size: 14px;
    }
    .elementor-692 .elementor-element.elementor-element-658cd53>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-6c6d2ea .tm-button {
        min-height: 40px;
        font-size: 14px;
    }
    .elementor-692 .elementor-element.elementor-element-6c6d2ea>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }
    .elementor-692 .elementor-element.elementor-element-339e829 .tm-button {
        min-height: 40px;
        font-size: 14px;
    }
    .elementor-692 .elementor-element.elementor-element-339e829>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }
}

@media(min-width:768px) {
    .elementor-692 .elementor-element.elementor-element-19c191c {
        width: 33.415%;
    }
    .elementor-692 .elementor-element.elementor-element-0581104 {
        width: 66.585%;
    }
    .elementor-692 .elementor-element.elementor-element-aa6081c {
        width: 58.333333%;
    }
    .elementor-692 .elementor-element.elementor-element-3b6c7ab {
        width: 41.667%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-692 .elementor-element.elementor-element-19c191c {
        width: 100%;
    }
    .elementor-692 .elementor-element.elementor-element-0581104 {
        width: 100%;
    }
}


/* Start custom CSS for tm-icon, class: .elementor-element-0bc69d9 */

.elementor-692 .elementor-element.elementor-element-0bc69d9 .unicamp-icon svg {
    max-width: 100%;
    height: auto;
}


/* End custom CSS */


/* Start custom CSS for tm-icon, class: .elementor-element-c445ee4 */

.elementor-692 .elementor-element.elementor-element-c445ee4 .unicamp-icon svg {
    max-width: 100%;
    height: auto;
}


/* End custom CSS */