.elementor-1458 .elementor-element.elementor-element-0be9f25>.elementor-container>.elementor-row {
    align-items: center;
}

.elementor-1458 .elementor-element.elementor-element-0be9f25 {
    padding: 80px 0px 0px 0px;
}

.elementor-1458 .elementor-element.elementor-element-91fe430 .shape {
    width: 102px;
    height: 2px;
    transform: rotate(0deg) scale(1, 1);
}

.elementor-1458 .elementor-element.elementor-element-91fe430 .unicamp-shape {
    transform: translate(-40px, 0px);
}

.elementor-1458 .elementor-element.elementor-element-91fe430 {
    width: auto;
    max-width: auto;
    top: 20px;
}

body:not(.rtl) .elementor-1458 .elementor-element.elementor-element-91fe430 {
    right: 100%;
}

body.rtl .elementor-1458 .elementor-element.elementor-element-91fe430 {
    left: 100%;
}

.elementor-1458 .elementor-element.elementor-element-c61f1a5 {
    text-align: center;
    z-index: 0;
    width: auto;
    max-width: auto;
    top: -75px;
}

.elementor-1458 .elementor-element.elementor-element-c61f1a5 .icon {
    color: #F5F5F5;
}

.elementor-1458 .elementor-element.elementor-element-c61f1a5 .icon .stop-a {
    stop-color: #F5F5F5;
}

.elementor-1458 .elementor-element.elementor-element-c61f1a5 .icon .stop-b {
    stop-color: #F5F5F5;
}

.elementor-1458 .elementor-element.elementor-element-c61f1a5 .unicamp-icon,
.elementor-1458 .elementor-element.elementor-element-c61f1a5 .unicamp-icon-view {
    font-size: 288px;
}

body:not(.rtl) .elementor-1458 .elementor-element.elementor-element-c61f1a5 {
    left: -150px;
}

body.rtl .elementor-1458 .elementor-element.elementor-element-c61f1a5 {
    right: -150px;
}

.elementor-1458 .elementor-element.elementor-element-232872d .heading-primary {
    font-size: 40px;
}

.elementor-1458 .elementor-element.elementor-element-232872d>.elementor-widget-container {
    margin: 0px 0px 22px 0px;
}

.elementor-1458 .elementor-element.elementor-element-f5c8efc .heading-primary {
    font-size: 18px;
    line-height: 34px;
}

.elementor-1458 .elementor-element.elementor-element-f5c8efc>.elementor-widget-container {
    margin: 0px 0px 13px 0px;
}

.elementor-1458 .elementor-element.elementor-element-41dfcc8 .heading-primary {
    font-size: 18px;
    line-height: 34px;
}

.elementor-1458 .elementor-element.elementor-element-c24e503 .tm-button {
    width: 214px;
}

.elementor-1458 .elementor-element.elementor-element-c24e503>.elementor-widget-container {
    margin: 45px 0px 0px 0px;
}

.elementor-1458 .elementor-element.elementor-element-16e8f58 {
    text-align: center;
}

.elementor-1458 .elementor-element.elementor-element-16e8f58>.elementor-widget-container {
    margin: 0px -375px 0px 0px;
}

.elementor-1458 .elementor-element.elementor-element-e1fe277>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-1458 .elementor-element.elementor-element-5d13c31 .elementor-spacer-inner {
    height: 78px;
}

.elementor-1458 .elementor-element.elementor-element-8512816 {
    text-align: center;
}

.elementor-1458 .elementor-element.elementor-element-8512816 .heading-primary {
    font-size: 40px;
}

.elementor-1458 .elementor-element.elementor-element-8512816 .heading-divider {
    margin-top: 12px;
}

.elementor-1458 .elementor-element.elementor-element-8512816 .heading-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.elementor-1458 .elementor-element.elementor-element-8512816 .heading-description-wrap {
    margin-top: 16px;
}

.elementor-1458 .elementor-element.elementor-element-8512816>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-1458 .elementor-element.elementor-element-d55647d .unicamp-box {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.elementor-1458 .elementor-element.elementor-element-d55647d .swiper-slide:after {
    width: 30px;
}

.elementor-1458 .elementor-element.elementor-element-d55647d .swiper-nav-buttons {
    justify-content: space-between;
    align-items: center;
}

.elementor-1458 .elementor-element.elementor-element-d55647d .swiper-pagination-wrap {
    justify-content: center;
    align-items: flex-end;
}

.elementor-1458 .elementor-element.elementor-element-e6458f7>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-1458 .elementor-element.elementor-element-ce7829f .elementor-spacer-inner {
    height: 80px;
}

.elementor-1458 .elementor-element.elementor-element-f363c94>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-1458 .elementor-element.elementor-element-f363c94>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1458 .elementor-element.elementor-element-f363c94:not(.elementor-motion-effects-element-type-background),
.elementor-1458 .elementor-element.elementor-element-f363c94>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
    background-image: url("https://unicamp.thememove.com/main/wp-content/uploads/sites/2/2021/02/decorate-bg-01.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.elementor-1458 .elementor-element.elementor-element-f363c94 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 86px 0px 82px 0px;
}

.elementor-1458 .elementor-element.elementor-element-f363c94>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1458 .elementor-element.elementor-element-13cba0b {
    z-index: 1;
}

.elementor-1458 .elementor-element.elementor-element-f9d06f9 .tm-icon-box {
    padding: 77px 56px 77px 55px;
}

.elementor-1458 .elementor-element.elementor-element-f9d06f9 .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-1458 .elementor-element.elementor-element-f9d06f9 .heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3em;
}

.elementor-1458 .elementor-element.elementor-element-f9d06f9 .description {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
}

.elementor-1458 .elementor-element.elementor-element-f9d06f9 .description-wrap {
    margin-top: 24px;
}

.elementor-1458 .elementor-element.elementor-element-cf7252f img {
    width: 100%;
}

.elementor-1458 .elementor-element.elementor-element-cf7252f>.elementor-widget-container {
    margin: 0px 0px 0px -220px;
}

.elementor-1458 .elementor-element.elementor-element-dc16e1a>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-1458 .elementor-element.elementor-element-dc16e1a:not(.elementor-motion-effects-element-type-background),
.elementor-1458 .elementor-element.elementor-element-dc16e1a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
    background-image: url("https://unicamp.thememove.com/main/wp-content/uploads/sites/2/2021/02/career-work-with-us-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1458 .elementor-element.elementor-element-dc16e1a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 70px 0px;
}

.elementor-1458 .elementor-element.elementor-element-dc16e1a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1458 .elementor-element.elementor-element-3d88c8c img {
    width: 80px;
}

.elementor-1458 .elementor-element.elementor-element-3d88c8c>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-1458 .elementor-element.elementor-element-2ac7a52 {
    text-align: center;
}

.elementor-1458 .elementor-element.elementor-element-2ac7a52 .tm-modern-heading {
    width: 845px;
}

.elementor-1458 .elementor-element.elementor-element-2ac7a52 .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-1458 .elementor-element.elementor-element-2ac7a52 .heading-primary {
    font-size: 34px;
    line-height: 1.53em;
}

.elementor-1458 .elementor-element.elementor-element-2ac7a52>.elementor-widget-container {
    margin: 0px 0px 77px 0px;
}

.elementor-1458 .elementor-element.elementor-element-53f6fae>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-1458 .elementor-element.elementor-element-95fd4cf .unicamp-graphic-box {
    text-align: start;
}

.elementor-1458 .elementor-element.elementor-element-95fd4cf .unicamp-box {
    max-width: 370px;
}

.elementor-1458 .elementor-element.elementor-element-95fd4cf .elementor-widget-container {
    display: flex;
    justify-content: flex-start;
}

.elementor-1458 .elementor-element.elementor-element-95fd4cf>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-1458 .elementor-element.elementor-element-1280e06 .unicamp-graphic-box {
    text-align: start;
}

.elementor-1458 .elementor-element.elementor-element-1280e06 .unicamp-box {
    max-width: 450px;
}

.elementor-1458 .elementor-element.elementor-element-1280e06 .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-1458 .elementor-element.elementor-element-1280e06>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-1458 .elementor-element.elementor-element-941f6a8 .unicamp-graphic-box {
    text-align: start;
}

.elementor-1458 .elementor-element.elementor-element-941f6a8 .unicamp-box {
    max-width: 370px;
}

.elementor-1458 .elementor-element.elementor-element-941f6a8 .elementor-widget-container {
    display: flex;
    justify-content: flex-end;
}

.elementor-1458 .elementor-element.elementor-element-941f6a8>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-1458 .elementor-element.elementor-element-96303d5>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-1458 .elementor-element.elementor-element-96303d5:not(.elementor-motion-effects-element-type-background),
.elementor-1458 .elementor-element.elementor-element-96303d5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #9D2235;
    background-image: url("https://unicamp.thememove.com/main/wp-content/uploads/sites/2/2021/01/section-take-a-quiz-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1458 .elementor-element.elementor-element-96303d5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 61px 0px 54px 0px;
}

.elementor-1458 .elementor-element.elementor-element-96303d5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1458 .elementor-element.elementor-element-ff9e529 {
    text-align: center;
}

.elementor-1458 .elementor-element.elementor-element-ff9e529 .tm-modern-heading {
    width: 470px;
}

.elementor-1458 .elementor-element.elementor-element-ff9e529 .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-1458 .elementor-element.elementor-element-ff9e529 .heading-primary {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.47em;
    color: #FFFFFF;
}

.elementor-1458 .elementor-element.elementor-element-ff9e529 .heading-primary .stop-a {
    stop-color: #FFFFFF;
}

.elementor-1458 .elementor-element.elementor-element-ff9e529 .heading-primary .stop-b {
    stop-color: #FFFFFF;
}

.elementor-1458 .elementor-element.elementor-element-ff9e529 .heading-primary mark {
    font-weight: 700;
    color: #FFFFFF;
}

.elementor-1458 .elementor-element.elementor-element-ff9e529 .heading-primary mark .stop-a {
    stop-color: #FFFFFF;
}

.elementor-1458 .elementor-element.elementor-element-ff9e529 .heading-primary mark .stop-b {
    stop-color: #FFFFFF;
}

.elementor-1458 .elementor-element.elementor-element-ff9e529>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-1458 .elementor-element.elementor-element-c068163>.elementor-container.elementor-container {
    max-width: 690px;
}

.elementor-1458 .elementor-element.elementor-element-c068163>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-1458 .elementor-element.elementor-element-a14bf97 .form-input {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-1458 .elementor-element.elementor-element-a14bf97 .form-input:focus {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-1458 .elementor-element.elementor-element-a14bf97 .form-submit button,
.elementor-1458 .elementor-element.elementor-element-a14bf97 .form-submit input {
    background-color: var( --e-global-color-secondary);
}

.elementor-1458 .elementor-element.elementor-element-a14bf97 .form-submit button:hover,
.elementor-1458 .elementor-element.elementor-element-a14bf97 .form-submit input:hover {
    background-color: var( --e-global-color-secondary);
}

@media(min-width:768px) {
    .elementor-1458 .elementor-element.elementor-element-13cba0b {
        width: 48.612%;
    }
    .elementor-1458 .elementor-element.elementor-element-3394bcd {
        width: 51.388%;
    }
}

@media(max-width:1024px) {
    .elementor-1458 .elementor-element.elementor-element-91fe430 {
        top: 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-c61f1a5 .unicamp-icon,
    .elementor-1458 .elementor-element.elementor-element-c61f1a5 .unicamp-icon-view {
        font-size: 200px;
    }
    body:not(.rtl) .elementor-1458 .elementor-element.elementor-element-c61f1a5 {
        left: 0px;
    }
    body.rtl .elementor-1458 .elementor-element.elementor-element-c61f1a5 {
        right: 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-232872d {
        text-align: center;
    }
    .elementor-1458 .elementor-element.elementor-element-232872d .heading-primary {
        font-size: 34px;
    }
    .elementor-1458 .elementor-element.elementor-element-f5c8efc {
        text-align: center;
    }
    .elementor-1458 .elementor-element.elementor-element-f5c8efc .tm-modern-heading {
        width: 500px;
    }
    .elementor-1458 .elementor-element.elementor-element-f5c8efc .elementor-widget-container {
        display: flex;
        justify-content: center;
    }
    .elementor-1458 .elementor-element.elementor-element-f5c8efc .heading-primary {
        font-size: 16px;
        line-height: 30px;
    }
    .elementor-1458 .elementor-element.elementor-element-41dfcc8 {
        text-align: center;
    }
    .elementor-1458 .elementor-element.elementor-element-41dfcc8 .tm-modern-heading {
        width: 500px;
    }
    .elementor-1458 .elementor-element.elementor-element-41dfcc8 .elementor-widget-container {
        display: flex;
        justify-content: center;
    }
    .elementor-1458 .elementor-element.elementor-element-41dfcc8 .heading-primary {
        font-size: 16px;
        line-height: 30px;
    }
    .elementor-1458 .elementor-element.elementor-element-c24e503>.elementor-widget-container {
        margin: 35px 0px 0px 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-16e8f58>.elementor-widget-container {
        margin: 0px 0px 35px 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-5d13c31 .elementor-spacer-inner {
        height: 70px;
    }
    .elementor-1458 .elementor-element.elementor-element-8512816 .heading-primary {
        font-size: 34px;
    }
    .elementor-1458 .elementor-element.elementor-element-e6458f7>.elementor-widget-container {
        margin: 35px 0px 0px 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-f363c94 {
        padding: 60px 0px 60px 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-f9d06f9 .tm-icon-box {
        padding: 55px 40px 50px 40px;
    }
    .elementor-1458 .elementor-element.elementor-element-f9d06f9 .heading {
        font-size: 30px;
    }
    .elementor-1458 .elementor-element.elementor-element-f9d06f9 .description {
        font-size: 16px;
        line-height: 30px;
    }
    .elementor-1458 .elementor-element.elementor-element-cf7252f>.elementor-widget-container {
        margin: 0px 0px 0px -130px;
    }
    .elementor-1458 .elementor-element.elementor-element-2ac7a52 .heading-primary {
        font-size: 27px;
    }
    .elementor-1458 .elementor-element.elementor-element-2ac7a52>.elementor-widget-container {
        margin: 0px 0px 40px 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-ff9e529 .heading-primary {
        font-size: 25px;
    }
    .elementor-1458 .elementor-element.elementor-element-ff9e529>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
    }
}

@media(max-width:767px) {
    .elementor-1458 .elementor-element.elementor-element-c61f1a5 .unicamp-icon,
    .elementor-1458 .elementor-element.elementor-element-c61f1a5 .unicamp-icon-view {
        font-size: 150px;
    }
    body:not(.rtl) .elementor-1458 .elementor-element.elementor-element-c61f1a5 {
        left: -50px;
    }
    body.rtl .elementor-1458 .elementor-element.elementor-element-c61f1a5 {
        right: -50px;
    }
    .elementor-1458 .elementor-element.elementor-element-c61f1a5 {
        top: -20px;
    }
    .elementor-1458 .elementor-element.elementor-element-232872d .heading-primary {
        font-size: 28px;
    }
    .elementor-1458 .elementor-element.elementor-element-f5c8efc .heading-primary {
        font-size: 14px;
        line-height: 26px;
    }
    .elementor-1458 .elementor-element.elementor-element-41dfcc8 .heading-primary {
        font-size: 14px;
        line-height: 26px;
    }
    .elementor-1458 .elementor-element.elementor-element-c24e503>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-8512816 .heading-primary {
        font-size: 28px;
    }
    .elementor-1458 .elementor-element.elementor-element-d55647d .swiper-slide {
        width: 330px !important;
        max-width: 90% !important;
    }
    .elementor-1458 .elementor-element.elementor-element-e6458f7>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-ce7829f .elementor-spacer-inner {
        height: 60px;
    }
    .elementor-1458 .elementor-element.elementor-element-f363c94 {
        padding: 60px 0px 0px 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-f9d06f9 .tm-icon-box {
        padding: 45px 30px 45px 30px;
    }
    .elementor-1458 .elementor-element.elementor-element-f9d06f9 .heading {
        font-size: 22px;
    }
    .elementor-1458 .elementor-element.elementor-element-f9d06f9 .description {
        font-size: 14px;
        line-height: 26px;
    }
    .elementor-1458 .elementor-element.elementor-element-f9d06f9 .description-wrap {
        margin-top: 14px;
    }
    .elementor-1458 .elementor-element.elementor-element-f9d06f9>.elementor-widget-container {
        margin: -20px 10px 0px 10px;
    }
    .elementor-1458 .elementor-element.elementor-element-cf7252f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-dc16e1a {
        padding: 70px 0px 40px 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-3d88c8c>.elementor-widget-container {
        margin: 0px 0px 25px 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-2ac7a52 .heading-primary {
        font-size: 20px;
    }
    .elementor-1458 .elementor-element.elementor-element-2ac7a52>.elementor-widget-container {
        margin: 0px 0px 35px 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-96303d5 {
        padding: 60px 0px 60px 0px;
    }
    .elementor-1458 .elementor-element.elementor-element-ff9e529 .heading-primary {
        font-size: 20px;
    }
    .elementor-1458 .elementor-element.elementor-element-ff9e529>.elementor-widget-container {
        margin: 0px 0px 25px 0px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1458 .elementor-element.elementor-element-ad90b22 {
        width: 100%;
    }
    .elementor-1458 .elementor-element.elementor-element-23c5faf {
        width: 100%;
    }
}