.elementor-110 .elementor-element.elementor-element-d836f75>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-110 .elementor-element.elementor-element-d836f75:not(.elementor-motion-effects-element-type-background),
.elementor-110 .elementor-element.elementor-element-d836f75>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-secondary);
    background-image: url("https://raw.githubusercontent.com/u6016901/u6016901.github.io/main/pictures/78176451_2725184400877103_6661179704101306368_n.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-110 .elementor-element.elementor-element-d836f75 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    color: #ABABAB;
    padding: 94px 0px 46px 0px;
}

.elementor-110 .elementor-element.elementor-element-d836f75>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-110 .elementor-element.elementor-element-d836f75 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-110 .elementor-element.elementor-element-d836f75 a {
    color: #ABABAB;
}

.elementor-110 .elementor-element.elementor-element-d836f75 a:hover {
    color: #FFFFFF;
}

.elementor-110 .elementor-element.elementor-element-6c06c2e>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-110 .elementor-element.elementor-element-3e5c75b {
    text-align: start;
}

.elementor-110 .elementor-element.elementor-element-3e5c75b img {
    width: 272px;
}

.elementor-110 .elementor-element.elementor-element-3e5c75b>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-110 .elementor-element.elementor-element-988f261 .tm-modern-heading {
    width: 340px;
}

.elementor-110 .elementor-element.elementor-element-988f261 .heading-primary {
    font-size: 14px;
    line-height: 30px;
    color: #ABABAB;
}

.elementor-110 .elementor-element.elementor-element-988f261 .heading-primary .stop-a {
    stop-color: #ABABAB;
}

.elementor-110 .elementor-element.elementor-element-988f261 .heading-primary .stop-b {
    stop-color: #ABABAB;
}

.elementor-110 .elementor-element.elementor-element-988f261>.elementor-widget-container {
    margin: 0px 0px 23px 0px;
}

.elementor-110 .elementor-element.elementor-element-92edb1d .link-icon {
    color: #FFFFFF;
}

.elementor-110 .elementor-element.elementor-element-0995bef .elementor-spacer-inner {
    height: 40px;
}

.elementor-110 .elementor-element.elementor-element-8fd6ff6 .heading-primary {
    font-size: 18px;
    line-height: 30px;
}

.elementor-110 .elementor-element.elementor-element-8fd6ff6>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-110 .elementor-element.elementor-element-6256ffa .heading-primary {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

.elementor-110 .elementor-element.elementor-element-6256ffa .heading-primary mark {
    color: #FFFFFF;
}

.elementor-110 .elementor-element.elementor-element-6256ffa .heading-primary mark .stop-a {
    stop-color: #FFFFFF;
}

.elementor-110 .elementor-element.elementor-element-6256ffa .heading-primary mark .stop-b {
    stop-color: #FFFFFF;
}

.elementor-110 .elementor-element.elementor-element-6256ffa .heading-primary a mark:before,
.elementor-110 .elementor-element.elementor-element-6256ffa .heading-primary a mark:after {
    background: #FFFFFF;
}

.elementor-110 .elementor-element.elementor-element-6256ffa>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-110 .elementor-element.elementor-element-4e6661f .heading-primary {
    font-size: 14px;
    line-height: 30px;
    color: #ABABAB;
}

.elementor-110 .elementor-element.elementor-element-4e6661f .heading-primary .stop-a {
    stop-color: #ABABAB;
}

.elementor-110 .elementor-element.elementor-element-4e6661f .heading-primary .stop-b {
    stop-color: #ABABAB;
}

.elementor-110 .elementor-element.elementor-element-4e6661f>.elementor-widget-container {
    margin: 0px 0px 18px 0px;
}

.elementor-110 .elementor-element.elementor-element-320c6ed .tm-button {
    min-height: 32px;
    width: 148px;
    padding: 0px 10px 0px 10px;
    border-color: #FFFFFF33;
    font-weight: 500;
}

.elementor-110 .elementor-element.elementor-element-320c6ed .tm-button:after {
    background-color: #FFFFFF;
}

.elementor-110 .elementor-element.elementor-element-320c6ed .tm-button:hover {
    border-color: #FFFFFF;
}

.elementor-110 .elementor-element.elementor-element-320c6ed .tm-button .button-content-wrapper {
    color: var( --e-global-color-primary);
}

.elementor-110 .elementor-element.elementor-element-320c6ed .tm-button .button-content-wrapper .stop-a {
    stop-color: var( --e-global-color-primary);
}

.elementor-110 .elementor-element.elementor-element-320c6ed .tm-button .button-content-wrapper .stop-b {
    stop-color: var( --e-global-color-primary);
}

.elementor-110 .elementor-element.elementor-element-77afafd .elementor-spacer-inner {
    height: 40px;
}

.elementor-110 .elementor-element.elementor-element-1fa3d81 .heading-primary {
    font-size: 18px;
    line-height: 30px;
}

.elementor-110 .elementor-element.elementor-element-1fa3d81>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-110 .elementor-element.elementor-element-5f5a66a .list-header {
    align-items: center;
}

.elementor-110 .elementor-element.elementor-element-5f5a66a .icon {
    text-align: center;
}

.elementor-110 .elementor-element.elementor-element-96bc275 .elementor-spacer-inner {
    height: 40px;
}

.elementor-110 .elementor-element.elementor-element-56f8ba6 .heading-primary {
    font-size: 18px;
    line-height: 30px;
}

.elementor-110 .elementor-element.elementor-element-56f8ba6>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-110 .elementor-element.elementor-element-95e9817 .list-header {
    align-items: center;
}

.elementor-110 .elementor-element.elementor-element-95e9817 .icon {
    text-align: center;
}

.elementor-110 .elementor-element.elementor-element-832f692 .elementor-spacer-inner {
    height: 40px;
}

.elementor-110 .elementor-element.elementor-element-23d0400>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-110 .elementor-element.elementor-element-23d0400 {
    padding: 30px 0px 0px 0px;
}

.elementor-110 .elementor-element.elementor-element-233eba6 {
    text-align: center;
}

.elementor-110 .elementor-element.elementor-element-233eba6 .heading-primary {
    font-size: 13px;
    line-height: 24px;
    color: #ABABAB;
}

.elementor-110 .elementor-element.elementor-element-233eba6 .heading-primary .stop-a {
    stop-color: #ABABAB;
}

.elementor-110 .elementor-element.elementor-element-233eba6 .heading-primary .stop-b {
    stop-color: #ABABAB;
}

@media(max-width:767px) {
    .elementor-110 .elementor-element.elementor-element-d836f75 {
        padding: 80px 0px 46px 0px;
    }
    .elementor-110 .elementor-element.elementor-element-23d0400 {
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-110 .elementor-element.elementor-element-64eb365 {
        width: 40%;
    }
    .elementor-110 .elementor-element.elementor-element-b67d2aa {
        width: 20%;
    }
    .elementor-110 .elementor-element.elementor-element-bb50a84 {
        width: 20%;
    }
    .elementor-110 .elementor-element.elementor-element-8945ba8 {
        width: 20%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-110 .elementor-element.elementor-element-64eb365 {
        width: 100%;
    }
    .elementor-110 .elementor-element.elementor-element-b67d2aa {
        width: 33.333333%;
    }
    .elementor-110 .elementor-element.elementor-element-bb50a84 {
        width: 33.333333%;
    }
    .elementor-110 .elementor-element.elementor-element-8945ba8 {
        width: 33.333333%;
    }
}