.elementor-3023 .elementor-element.elementor-element-3a6df75>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-3023 .elementor-element.elementor-element-3a6df75:not(.elementor-motion-effects-element-type-background),
.elementor-3023 .elementor-element.elementor-element-3a6df75>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1C1C1C;
}

.elementor-3023 .elementor-element.elementor-element-3a6df75 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    color: #ABABAB;
}

.elementor-3023 .elementor-element.elementor-element-3a6df75>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3023 .elementor-element.elementor-element-3a6df75 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-3023 .elementor-element.elementor-element-3a6df75 a {
    color: #ABABAB;
}

.elementor-3023 .elementor-element.elementor-element-3a6df75 a:hover {
    color: #FFFFFF;
}

.elementor-3023 .elementor-element.elementor-element-b0cdf68 .elementor-spacer-inner {
    height: 73px;
}

.elementor-3023 .elementor-element.elementor-element-09adf0e {
    text-align: center;
}

.elementor-3023 .elementor-element.elementor-element-09adf0e img {
    width: 342px;
}

.elementor-3023 .elementor-element.elementor-element-09adf0e>.elementor-widget-container {
    margin: 0px 0px 74px 0px;
}

.elementor-3023 .elementor-element.elementor-element-1de5d34>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-3023 .elementor-element.elementor-element-57e06f2 .heading-primary {
    font-size: 18px;
    line-height: 30px;
}

.elementor-3023 .elementor-element.elementor-element-57e06f2>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-3023 .elementor-element.elementor-element-141286c .heading-primary {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

.elementor-3023 .elementor-element.elementor-element-141286c .heading-primary mark {
    color: #FFFFFF;
}

.elementor-3023 .elementor-element.elementor-element-141286c .heading-primary mark .stop-a {
    stop-color: #FFFFFF;
}

.elementor-3023 .elementor-element.elementor-element-141286c .heading-primary mark .stop-b {
    stop-color: #FFFFFF;
}

.elementor-3023 .elementor-element.elementor-element-141286c .heading-primary a mark:before,
.elementor-3023 .elementor-element.elementor-element-141286c .heading-primary a mark:after {
    background: #FFFFFF;
}

.elementor-3023 .elementor-element.elementor-element-141286c>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-3023 .elementor-element.elementor-element-54c1de1 .tm-modern-heading {
    width: 230px;
}

.elementor-3023 .elementor-element.elementor-element-54c1de1 .heading-primary {
    font-size: 14px;
    line-height: 30px;
    color: #ABABAB;
}

.elementor-3023 .elementor-element.elementor-element-54c1de1 .heading-primary .stop-a {
    stop-color: #ABABAB;
}

.elementor-3023 .elementor-element.elementor-element-54c1de1 .heading-primary .stop-b {
    stop-color: #ABABAB;
}

.elementor-3023 .elementor-element.elementor-element-54c1de1>.elementor-widget-container {
    margin: 0px 0px 18px 0px;
}

.elementor-3023 .elementor-element.elementor-element-285614d .tm-button {
    min-height: 32px;
    width: 148px;
    padding: 0px 10px 0px 10px;
    border-color: #FFFFFF33;
    font-weight: 500;
}

.elementor-3023 .elementor-element.elementor-element-285614d .tm-button:after {
    background-color: #FFFFFF;
}

.elementor-3023 .elementor-element.elementor-element-285614d .tm-button:hover {
    border-color: #FFFFFF;
}

.elementor-3023 .elementor-element.elementor-element-285614d .tm-button .button-content-wrapper {
    color: var( --e-global-color-primary);
}

.elementor-3023 .elementor-element.elementor-element-285614d .tm-button .button-content-wrapper .stop-a {
    stop-color: var( --e-global-color-primary);
}

.elementor-3023 .elementor-element.elementor-element-285614d .tm-button .button-content-wrapper .stop-b {
    stop-color: var( --e-global-color-primary);
}

.elementor-3023 .elementor-element.elementor-element-fee7910 .link-icon {
    color: #FFFFFF;
}

.elementor-3023 .elementor-element.elementor-element-fee7910>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-3023 .elementor-element.elementor-element-31e6f9c .elementor-spacer-inner {
    height: 40px;
}

.elementor-3023 .elementor-element.elementor-element-c2664b4 .heading-primary {
    font-size: 18px;
    line-height: 30px;
}

.elementor-3023 .elementor-element.elementor-element-c2664b4>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-3023 .elementor-element.elementor-element-ac95b6c .list-header {
    align-items: center;
}

.elementor-3023 .elementor-element.elementor-element-ac95b6c .icon {
    text-align: center;
}

.elementor-3023 .elementor-element.elementor-element-0525c2d .elementor-spacer-inner {
    height: 40px;
}

.elementor-3023 .elementor-element.elementor-element-7cdd21a .elementor-spacer-inner {
    height: 40px;
}

.elementor-3023 .elementor-element.elementor-element-829a1e5>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-3023 .elementor-element.elementor-element-829a1e5 {
    padding: 0px 0px 48px 0px;
}

.elementor-3023 .elementor-element.elementor-element-bb859bd {
    text-align: center;
}

.elementor-3023 .elementor-element.elementor-element-bb859bd .heading-primary {
    font-size: 13px;
    line-height: 24px;
    color: #9B9B9B;
}

.elementor-3023 .elementor-element.elementor-element-bb859bd .heading-primary .stop-a {
    stop-color: #9B9B9B;
}

.elementor-3023 .elementor-element.elementor-element-bb859bd .heading-primary .stop-b {
    stop-color: #9B9B9B;
}

@media(max-width:1024px) {
    .elementor-3023 .elementor-element.elementor-element-09adf0e>.elementor-widget-container {
        margin: 0px 0px 35px 0px;
    }
    .elementor-3023 .elementor-element.elementor-element-829a1e5 {
        padding: 10px 0px 35px 0px;
    }
}

@media(max-width:767px) {
    .elementor-3023 .elementor-element.elementor-element-b0cdf68 .elementor-spacer-inner {
        height: 60px;
    }
    .elementor-3023 .elementor-element.elementor-element-09adf0e {
        text-align: start;
    }
    .elementor-3023 .elementor-element.elementor-element-09adf0e img {
        width: 200px;
    }
    .elementor-3023 .elementor-element.elementor-element-09adf0e>.elementor-widget-container {
        margin: 0px 0px 35px 0px;
    }
    .elementor-3023 .elementor-element.elementor-element-fee7910>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-3023 .elementor-element.elementor-element-829a1e5 {
        padding: 0px 0px 35px 0px;
    }
}

@media(min-width:768px) {
    .elementor-3023 .elementor-element.elementor-element-3d6276f {
        width: 24%;
    }
    .elementor-3023 .elementor-element.elementor-element-0b91903 {
        width: 24%;
    }
    .elementor-3023 .elementor-element.elementor-element-d93b28e {
        width: 51.664%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-3023 .elementor-element.elementor-element-3d6276f {
        width: 50%;
    }
    .elementor-3023 .elementor-element.elementor-element-0b91903 {
        width: 50%;
    }
    .elementor-3023 .elementor-element.elementor-element-d93b28e {
        width: 100%;
    }
}