.tutor-announcement-big-icon {
	background: #f1f3f8;
	color: $primary-color;
	line-height: 76px;
}

.tutor-dashboard-announcement-sorting {
	display: flex;
	column-gap: 15px;

	> .tutor-form-group {
		&:nth-child(1) {
			flex-basis: 50%;
		}
		&:nth-child(2) {
			flex-basis: 20%;
		}
		&:nth-child(3) {
			flex-basis: 30%;
		}
	}
}

.tutor-announcement-datepicker {
	.input-group {
		position: relative;
	}

	input {
		position: static;
	}

	i {
		color: $primary-color;
		transform: translateY(-50%);
	}
}

.tutor-dropdown-menu {
	z-index: 2;
}
