.label-status-completed {
	display: inline-block;
	font-size: 12px;
	font-weight: $heading-font-weight;
	border: 1px solid #c3e5ca;
	padding: 2px 10px;
	min-width: 100px;
	text-align: center;
	color: #6cbd7e;
	background: #f7fbf8;
	border-radius: 0;
}
